<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173797215995-q2ehfp4feukurt0sdqk1sjetsf8sa35f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173797215995-q2ehfp4feukurt0sdqk1sjetsf8sa35f</string>
	<key>API_KEY</key>
	<string>AIzaSyCYO_kZ4s7MarlG3tqRTsfqcfLdz3Qs0Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>173797215995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silvanosolutions.nextone</string>
	<key>PROJECT_ID</key>
	<string>nextone-4ba5e</string>
	<key>STORAGE_BUCKET</key>
	<string>nextone-4ba5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173797215995:ios:73c8c769c7db21a5e3aa5e</string>
</dict>
</plist>